<!DOCTYPE html>
<html>
<head>
  <title>Jekylly</title>
  <%= stylesheet_link_tag    "jekylly/application", media: "all" %>
  <%= javascript_include_tag "jekylly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
